<div class="container">

  <header class="text-center">
    <h1>Edit User Profile</h1>
    <p>For <%= mail_to Spree::User.find(@profile.spree_user_id).email %></p>
  </header>

  <%= render 'form', profile: @profile %>

</div>
