<main class="my-5">
  <div class="container">

    <header class="text-center">
      <h1>Create a New Blog</h1>
    </header>

    <%= render 'form', blog: @blog %>

    <%= link_to 'Back', blogs_path %>

  </div> <!-- container -->
</main>
