<section class="page-breadcrumbs">
  <div class="container-fluid px-5">
    <p class="font-weight-bold">
      Dyson for Business
      &nbsp;&nbsp;>&nbsp;&nbsp;
      Air Quality
    </p>
  </div> <!-- container -->
</section> <!-- breadcrumbs -->


<main id="airblades" class="product-page">

  <section class="container-fluid px-5 my-5">
    <div class="row justify-content-center">

      <div class="col-12 col-sm-4 col-xl-3">
        <div class="main-image-container">
          <div class="sizer"></div>
          <img src="https://lagunagreenworks.s3-us-west-1.amazonaws.com/Images/DP04+White+Front.jpg" id="main1" class="main-image">
          <img src="https://lagunagreenworks.s3-us-west-1.amazonaws.com/Images/HP04+(Temp).jpg" id="main3" class="main-image hidden">
          <img src="https://lagunagreenworks.s3-us-west-1.amazonaws.com/Images/TP04+(App).jpg" id="main2" class="main-image hidden">
          <img src="https://lagunagreenworks.s3-us-west-1.amazonaws.com/Images/TP04+White+Side.jpg" id="main4" class="main-image hidden">
          <img src="https://lagunagreenworks.s3-us-west-1.amazonaws.com/Images/TP04+(Auto).jpg" id="main5" class="main-image hidden">
        </div> <!-- main image container -->

        <div class="thumb-container container-fluid">
          <div class="row text-center">
            <div class="col thumb-col active z-depth-1" id="thumb1">
              <img src="https://lagunagreenworks.s3-us-west-1.amazonaws.com/Images/DP04+White+Front.jpg" class="thumbnail">
            </div> <!-- col -->
            <div class="col thumb-col" id="thumb3">
              <img src="https://lagunagreenworks.s3-us-west-1.amazonaws.com/Images/HP04+(Temp).jpg" class="thumbnail">
            </div> <!-- col -->
            <div class="col thumb-col" id="thumb2">
              <img src="https://lagunagreenworks.s3-us-west-1.amazonaws.com/Images/TP04+(App).jpg" class="thumbnail">
            </div> <!-- col -->
            <div class="col thumb-col" id="thumb4">
              <img src="https://lagunagreenworks.s3-us-west-1.amazonaws.com/Images/TP04+White+Side.jpg" class="thumbnail">
            </div> <!-- col -->
            <div class="col thumb-col" id="thumb5">
              <img src="https://lagunagreenworks.s3-us-west-1.amazonaws.com/Images/TP04+(Auto).jpg" class="thumbnail">
            </div> <!-- col -->
          </div> <!-- row -->
        </div> <!-- col -->
      </div> <!-- col -->

      <div class="col-12 col-sm-8 col-xl-9">
        <h1 class="pb-4">Air Quality</h1>
        <p class="big-p">
          Make your business and leisure space a cleaner and more comfortable environment for employees and guests.
        </p>
        <p><em>
          <strong>Purifiers: </strong>Pure Hot+Cool, Pure Cool<br>
          <strong>Fans: </strong>Hot+Cool, Cool<br>
          <strong>Humidifiers: </strong>Dyson Humidifiers
        </em></p>
        <%= link_to "Shop Air Treatment", spree.root_path, class: "btn btn-primary mt-3" %>
      </div> <!-- col -->

    </div> <!-- row -->
  </section>



  <section class="jumbotron my-4 d-flex align-items-center air-1-background">
    <div class="container-fluid px-5 h-100 text-center">
      <div class="row h-100 align-items-center">
        <div class="col-lg-12">
          <h2 class="mb-2 color-black font-weight-bold">

          </h2>
        </div>
      </div>
    </div>
  </section>




















</main> <!-- page container -->





<script>
  $(document).ready(function() {
    $("#thumb1").click(function(){
      $(".main-image").addClass("hidden");
      $(".thumb-col").removeClass("active z-depth-1");
      $("#thumb1").addClass("active z-depth-1");
      $('#main1').removeClass("hidden");
    });
    $("#thumb2").click(function(){
      $(".main-image").addClass("hidden");
      $(".thumb-col").removeClass("active z-depth-1");
      $("#thumb2").addClass("active z-depth-1");
      $('#main2').removeClass("hidden");
    });
    $("#thumb3").click(function(){
      $(".main-image").addClass("hidden");
      $(".thumb-col").removeClass("active z-depth-1");
      $("#thumb3").addClass("active z-depth-1");
      $('#main3').removeClass("hidden");
    });
    $("#thumb4").click(function(){
      $(".main-image").addClass("hidden");
      $(".thumb-col").removeClass("active z-depth-1");
      $("#thumb4").addClass("active z-depth-1");
      $('#main4').removeClass("hidden");
    });
    $("#thumb5").click(function(){
      $(".main-image").addClass("hidden");
      $(".thumb-col").removeClass("active z-depth-1");
      $("#thumb5").addClass("active z-depth-1");
      $('#main5').removeClass("hidden");
    });
  });
</script>
