<!-- Header -->
<header class="py-5 mb-5 bg-image-full bg-image-stripe" style="background-image: url(<%= asset_path "customer-service.jpg" %>)">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-lg-12 text-center">
        <h1 class="display-4 mt-5 mb-2 color-white">Customer Service</h1>
      </div>
    </div>
  </div>
</header>


<div class="container text-page">
  <h2>Purchasing</h2>
  <h3>Shipping & Delivery</h3>
  <p>Laguna Greenworks uses a variety of standard carriers to deliver your products. Orders for in-stock products are generally shipped within 24-48 hours. If we don't have the products in stock, we will contact you within 24 hours with an expected ship date. If this ship date does not meet your needs or expectations, you may cancel your order.</p>
  <p>Shipping times vary by product and geography. Expedited delivery is available upon request at an additional charge.</p>
  <h3>Sales Tax</h3>
  <p>To be exempt from sales tax, customers must file a resale license or certificate with Laguna Greenworks. Otherwise, sales tax for the appropriate jurisdiction will be added to product invoices.</p>
  <h2>Policy Revisions</h2>
  <p>We reserve the right to amend, revise and change our policies periodically. Notification will be made through an update of this section of our website. If you have questions about any of our policies, please contact us using the information found in the Contact Us section of this website.</p>
</div>
