<!-- Header -->
<header class="py-5 mb-5 bg-image-full bg-image-stripe" style="background-image: url(<%= asset_path "policies-and-notices.jpg" %>)">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-lg-12 text-center">
        <h1 class="display-4 mt-5 mb-2">Policies and Notices</h1>
      </div>
    </div>
  </div>
</header>

<div class="container text-page">
  <h2>Privacy and Security</h2>
  <p>The personal or company information provided to Laguna Greenworks through our website, mail, email, fax or phone is held in the strictest confidence. We do not sell customer information to anyone for any reason. Basic information may be shared with product manufacturers for warranty purposes. No other third parties will receive information without written authorization from the customer. We are happy to serve as a trade reference for our customers, if requested in writing.</p>
  <p>Laguna Greenworks protects the security of your transmissions through our website by using SSL Software (Secure Sockets Layer or known as SSL software) which encrypts information entered through our website. Laguna Greenworks electronically verifies each transaction through our merchant account provider. We will process only online orders that are authorized by our merchant account provider. If an authorization is declined, we will attempt to contact the customer using the information that was provided to us on the order. If we are unable to reach the customer, Laguna Greenworks accepts no liability for not processing or shipping the order.</p>
  <p>For your protection and ours, we reserve the right to contact you to verify your identity prior to processing your order regardless of merchant account authorization.</p>
</div>
