<main class="container py-4">

  <header class="text-center">
    <h1>Testimonials & Customer Photos</h1>
  </header>

  <section>
    <div class="row">



      <div class="col-12 col-sm-6 col-md-4">
        <div id="img-1" class="square-image-wrapper linkish">
            <img src="https://lagunagreenworks.s3-us-west-1.amazonaws.com/Install+Photos/2398+CB.jpeg" />
        </div> <!-- wrapper -->
      </div> <!-- col -->

      <div class="modal fade" id="img-1-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <img src="https://lagunagreenworks.s3-us-west-1.amazonaws.com/Install+Photos/2398+CB.jpeg" />
          </div>
        </div>
      </div>



      <div class="col-12 col-sm-6 col-md-4">
        <div id="img-2" class="square-image-wrapper linkish">
            <img src="https://lagunagreenworks.s3-us-west-1.amazonaws.com/Install+Photos/BL+MIA+1.jpeg" />
        </div> <!-- wrapper -->
      </div> <!-- col -->

      <div class="modal fade" id="img-2-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <img src="https://lagunagreenworks.s3-us-west-1.amazonaws.com/Install+Photos/BL+MIA+1.jpeg" />
          </div>
        </div>
      </div>



      <div class="col-12 col-sm-6 col-md-4">
        <div id="img-3" class="square-image-wrapper linkish">
            <img src="https://lagunagreenworks.s3-us-west-1.amazonaws.com/Install+Photos/Las+Vegas+Install.jpeg" />
        </div> <!-- wrapper -->
      </div> <!-- col -->

      <div class="modal fade" id="img-3-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <img src="https://lagunagreenworks.s3-us-west-1.amazonaws.com/Install+Photos/Las+Vegas+Install.jpeg" />
          </div>
        </div>
      </div>



      <div class="col-12 col-sm-6 col-md-4">
        <div id="img-4" class="square-image-wrapper linkish">
            <img src="https://lagunagreenworks.s3-us-west-1.amazonaws.com/Install+Photos/MollieStonesGreenbrae1.JPEG" />
        </div> <!-- wrapper -->
      </div> <!-- col -->

      <div class="modal fade" id="img-4-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <img src="https://lagunagreenworks.s3-us-west-1.amazonaws.com/Install+Photos/MollieStonesGreenbrae1.JPEG" />
          </div>
        </div>
      </div>



      <div class="col-12 col-sm-6 col-md-4">
        <div id="img-5" class="square-image-wrapper linkish">
            <img src="https://lagunagreenworks.s3-us-west-1.amazonaws.com/Install+Photos/Pink+restroom+Wedge.jpeg" />
        </div> <!-- wrapper -->
      </div> <!-- col -->

      <div class="modal fade" id="img-5-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <img src="https://lagunagreenworks.s3-us-west-1.amazonaws.com/Install+Photos/Pink+restroom+Wedge.jpeg" />
          </div>
        </div>
      </div>



      <div class="col-12 col-sm-6 col-md-4">
        <div id="img-6" class="square-image-wrapper linkish">
            <img src="https://lagunagreenworks.s3-us-west-1.amazonaws.com/Install+Photos/Quiet+V.jpeg" />
        </div> <!-- wrapper -->
      </div> <!-- col -->


      <div class="modal fade" id="img-6-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <img src="https://lagunagreenworks.s3-us-west-1.amazonaws.com/Install+Photos/Quiet+V.jpeg" />
          </div>
        </div>
      </div>




      <div class="col-12 col-sm-6 col-md-4">
        <div id="img-7" class="square-image-wrapper linkish">
            <img src="https://lagunagreenworks.s3-us-west-1.amazonaws.com/Install+Photos/V+Recessed.jpeg" />
        </div> <!-- wrapper -->
      </div> <!-- col -->


      <div class="modal fade" id="img-7-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <img src="https://lagunagreenworks.s3-us-west-1.amazonaws.com/Install+Photos/V+Recessed.jpeg" />
          </div>
        </div>
      </div>









    </div> <!-- row -->
  </section> <!-- photo grid -->

</main>






<script>
  $( document ).ready(function() {
    $('#img-1').click(function() {
      $('#img-1-modal').modal('show');
    });
    $('#img-2').click(function() {
      $('#img-2-modal').modal('show');
    });
    $('#img-3').click(function() {
      $('#img-3-modal').modal('show');
    });
    $('#img-4').click(function() {
      $('#img-4-modal').modal('show');
    });
    $('#img-5').click(function() {
      $('#img-5-modal').modal('show');
    });
    $('#img-6').click(function() {
      $('#img-6-modal').modal('show');
    });
    $('#img-7').click(function() {
      $('#img-7-modal').modal('show');
    });
    $('#img-8').click(function() {
      $('#img-8-modal').modal('show');
    });
    $('#img-9').click(function() {
      $('#img-9-modal').modal('show');
    });

  });
</script>
