<!-- Header -->
<header class="py-5 mb-5 bg-image-full bg-image-stripe" style="background-image: url(<%= asset_path "vacuum-cleaners-closeup.jpg" %>)">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-lg-12 text-center">
        <h1 class="display-4 mt-5 mb-2">Warranty Information</h1>
      </div>
    </div>
  </div>
</header>


<div class="container text-page">
  <h2>Warranty</h2>
  <p>Laguna Greenworks serves as an authorized distributor for all products we sell. Our products come only with the specific warranty offered by the product manufacturer.</p>
  <ul class="space-between-bullets">
    <li>All Dyson Airblade hand dryers come with a 5-year parts and limited 1-year labor warranty. To activate your Dyson warranty, you must <a href="https://www.dyson.com/hand-dryers.html" target="_blank">register your hand dryer with Dyson</a>.</li>
    <li>Dyson Purifiers and Fans come with a 2 year limited warranty from date of purchase.</li>
    <li>Dyson Humidifiers come with a 2 year limited warranty from date of purchase.</li>
    <li>Dyson Stick Vacuums come with a 2 year limited warranty from date of purchase.</li>
    <li>Dyson Canister Vacuums come with a 5 year limited warranty from date of purchase.</li>
    <li>Dyson Upright Vacuums come with a 5 year limited warranty from date of purchase.</li>
  </ul>
  <p>Each Dyson Airblade model has specific terms of its warranty. To find out more about the warranty on your model, check out our <%= link_to "resources page", page_path("resources") %>.</p>
  <p>Please keep your proof of purchase – refer to your owners manual for warranty terms and conditions.</p>
  <h2>Cancellations</h2>
  <p>Laguna Greenworks reserves the right to cancel or decline any order in our sole discretion. If cancelled or declined, we will notify you using the contact information provided in the order or through our website, email, fax, phone or voice mail.</p>
  <h2>Returns</h2>
  <p>Generally, we will accept returns of products purchased from Laguna Greenworks for credit or refund within 30 days of purchase as long as the following conditions are met:</p>
  <ul>
    <li>The product has not been installed or placed into service.</li>
    <li>The product has not been damaged.</li>
    <li>The product is still in its original packaging (unless it has been opened and found to be damaged or defective).</li>
  </ul>
  <p>Please <%= link_to "contact us", main_app.new_contact_path(anchor: "contact") %> for additional information on processing returns.</p>
</div>
