

<!-- Jumbotron Header -->
<header class="jumbotron my-4">
  <div class="container">
    <h1 class="display-3">About Laguna Greenworks</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt possimus non incidunt odit vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam repellat.</p>
    <a href="#contact" class="btn btn-primary btn-lg">Contact Us</a>
  </div>
</header>

<div class="container">


  <!-- Page Features -->
  <div class="row text-center">

    <div class="col-md-4 mb-4">
      <div class="card h-100">
        <img class="card-img-top" src="http://placehold.it/500x325" alt="">
        <div class="card-body">
          <h4 class="card-title mb-1">Mallory<br class="d-lg-none"> McCamant</h4>
          <h5 class="color-grey">Principal</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo magni sapiente, tempore debitis beatae culpa natus architecto.</p>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-4">
      <div class="card h-100">
        <img class="card-img-top" src="http://placehold.it/500x325" alt="">
        <div class="card-body">
          <h4 class="card-title mb-1">Ellen<br class="d-lg-none"> Mallory</h4>
          <h5 class="color-grey">Regional Manager</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-4">
      <div class="card h-100">
        <img class="card-img-top" src="http://placehold.it/500x325" alt="">
        <div class="card-body">
          <h4 class="card-title mb-1">Liz<br class="d-lg-none"> Bayardelle</h4>
          <h5 class="color-grey">Digital Polymath</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
        </div>
      </div>
    </div>

  </div>
  <!-- /.row -->

  <div class="half-buffer"></div>

  </div> <!-- container -->

  <div id="contact" class="jumbotron">
    <div class="container">
      <h1 class="text-center">Contact Us</h1>
      <%= render 'form', contact: @contact %>
    </div> <!-- container -->
  </div> <!-- jumbotron -->
<!-- /.container -->
