<main class="container py-4">

  <header class="text-center">
    <h1>New Testimonial</h1>
  </header>

  <section>
    <%= render 'form', testimonial: @testimonial %>
  </section> <!-- photo grid -->

</main>
